// _variables.scss

// Colors
$primary-color: #ff7300;
$secondary-color: #555;
$background-color: #1E1E1E;
$white: #fff;

// Error styles
$error-border-color: #d12f41;
$error-text-color: #842029;
$error-bg-color: #f8d7da;

// Success styles
$success-bg-color: #daf5d7;
$success-text-color: #27632a;
$success-border-color: #3aa13a;

// Input styles
$input-border-color: #515151;
$input-bg-color: #333;
    
// Font
$font-family: 'Poppins', sans-serif;

// Spacing
$padding-small: 8px;
$padding-medium: 16px;
$padding-large: 32px;

// Border radius
$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-large: 16px;
